# Node
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log
dist/
build/

# Python / Django
__pycache__/
*.py[cod]
*.sqlite3
*.log
env/
venv/
.venv/
*.egg-info/
local_settings.py


# OS
.DS_Store
Thumbs.db

# VSCode
.vscode/

# React
.pnp/
.pnp.js
.next/
.cache/

# Django collected static
staticfiles/
media/
